.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #222222;
    justify-content: center;
    align-items: center;
  }

  
  .modal {
    margin: 0 auto;
    width: 440px;
    height: 255px;
    padding: 40px;
    background-color: #fff;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  
  .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    text-transform: capitalize;
    color: #111C1F;
  }
  
  .label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #111C1F;
  }
  
  .input {
    padding: 12.5px 12;
    margin-top: 8px;
  }

  .btn {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    text-transform: capitalize;
    color: #FFFFFF;

    background-color: #2CB7B0;
    border: none;
    border-radius: 4px;
    align-items: center;
    padding: 12px 128px;
    gap: 10px;
 }

 .btn:hover, .btn:focus {
    background-color: #209D97;
    cursor: pointer;
 }